<div class="date-picker-container">

<div class="date-picker-buttons">
  <button class="btn btn-info" (click)="dateButtonClick(pastWeek)">Week</button>
  <button class="btn btn-info" (click)="dateButtonClick(pastMonth)">Month</button>
  <button class="btn btn-info" (click)="dateButtonClick(pastYear)">Year</button>
</div>

<div class="date-picker-calendar">
<form [formGroup]="dateRangeForm" novalidate (ngSubmit)="setDateRange(dateRangeForm.value)">
  <div class="form-group row">
    <div class="field">
      <input class="form-control" type="date" formControlName="startDate">
    </div>
    <div class="field">
      <input class="form-control" type="date" formControlName="endDate">
    </div>
    <div class="field">
      <button class="btn btn-info" type="submit">Go</button>
    </div>
  </div>
</form>
</div>
</div>
