<h3>Workout History</h3>
<md-grid-list cols="20" rowHeight="50px">
      <md-grid-tile colspan="4">Date</md-grid-tile>
      <md-grid-tile colspan="2">Name</md-grid-tile>
      <md-grid-tile colspan="2">Calories</md-grid-tile>
      <md-grid-tile colspan="2">Distance</md-grid-tile>
      <md-grid-tile colspan="2">Heartrate</md-grid-tile>
      <md-grid-tile colspan="3">Zones</md-grid-tile>
      <md-grid-tile colspan="2">Duration</md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="2">&nbsp;</md-grid-tile>
</md-grid-list>
<div *ngFor="let workout of workouts | orderBy : ['date']; let i = index">
    <workout-row
      [workout]= 'workout'
      (onUpdate)="update($event)"
      (onDelete)="delete($event)">
    </workout-row>
</div>
