.creator {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}

.picker {
  width: 27%;
  display: inline-block;
  vertical-align: top;
}

md-card {
  border: 1px solid LightGrey;
}
