<md-card
  class="note-creator"
  [ngStyle]="{'background-color': newNote.color}">
      <form (submit)="onCreateNote()">
        <md-input
          type="text"
          [(ngModel)]="newNote.title"
          *ngIf="fullForm"
          name="newNoteTitle"
          placeholder="Title"
          class="title"
          autocomplete="off"
        ></md-input>
        <md-input
          type="text"
          (focus)="toggle(true)"
          [(ngModel)]="newNote.content"
          name="newNoteValue"
          placeholder="Take a note..."
          autocomplete="off"
        ></md-input>
        <div
          class="actions"
          *ngIf="fullForm">

          <div>
            <color-picker
              (selected)="onColorSelect($event)"
              [colors]="colors">
            </color-picker>
          </div>
          <button
            md-raised-button
            type="submit"
           >
            Add
          </button>
        </div>
      </form>
</md-card>
