.note-creator {
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  width: 50%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 1%;
}
.title {
  font-weight: bold;
  color: rgba(0,0,0,0.8);
}
.full {
  height: 100px;
}
